/* Manifest File */
/* Variables Styles */
/* Mixins Styles */
/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background-color: antiquewhite;
  border: none; }

/* Typography Styles */
/* Base Styles */
html, body {
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 400; }

img {
  width: 100%;
  height: auto;
  border-radius: 5%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

/* Navigation Styles */
.home-header__nav {
  width: auto;
  height: 5rem;
  position: relative;
  float: right;
  padding-top: 1.6rem;
  box-sizing: border-box; }
.home-header #search {
  width: 100px;
  margin-right: 1.3rem; }

/* Grid Layout */
@media (min-width: 992px) {
  .home-main {
    width: 70vw; } }
.home-main__card {
  width: calc(100% / 3); }

@media (min-width: 992px) {
  .aside {
    display: block; } }

/* Header Layout */
.home-header {
  width: 100vw;
  height: 5rem;
  position: static;
  background-color: antiquewhite; }
  .home-header__logo {
    position: absolute;
    left: 1.3rem;
    top: 2rem; }

/* Footer Layout */
.home-footer {
  width: 100vw;
  height: 15rem;
  position: relative;
  background-color: cornflowerblue;
  clear: both;
  text-align: center;
  box-sizing: border-box;
  padding: 2rem; }
  .home-footer__newsletter {
    height: 90%;
    width: 100%; }
  .home-footer__copyright {
    height: 10%;
    width: 100%; }
  .home-footer h2 {
    height: 40%;
    width: 100%; }
  .home-footer p {
    height: 35%;
    width: 100%; }
  .home-footer__suscribe {
    height: 25%;
    width: 100%; }

/* Main-section Layout */
.home-aside {
  width: 30vw;
  height: 100%;
  position: relative;
  float: right;
  background-color: cadetblue;
  display: none; }

/* Main-section Layout */
.home-main {
  width: 100vw;
  height: auto;
  position: relative;
  float: left;
  background-color: white;
  display: block;
  padding: 1rem;
  box-sizing: border-box; }

/* Buttons Styles */
#nav-button-nosotros {
  display: none; }

/* Card Styles */
.home-main__card {
  height: auto;
  max-width: 300px;
  width: 80%;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  border-bottom: 1px dotted black; }
.home-main__card-title {
  box-sizing: border-box;
  padding: .5rem;
  width: 100%;
  height: 10%; }
.home-main__card-img {
  box-sizing: border-box;
  padding: .5rem;
  width: 100%;
  max-width: 400px;
  height: 80%; }
.home-main__card-info {
  box-sizing: border-box;
  padding: .5rem;
  width: 100%;
  height: 10%; }

/*# sourceMappingURL=main.css.map */
