/* Grid Layout */
html, body{
    width: 100%;
    height: 100%;
}
.home-main{
    @include respond-to('large') {
        width: 70vw;
      }
}
.aside{
    @include respond-to('large') {
        visibility: visible;
      }
}
.home-footer{
    
}