/* Grid Layout */
.home-main{
    @include respond-to('large') {
        width: 70vw;
      }
    
      &__card{
        width: calc(100% / 3);
    }
    
}
.aside{
    @include respond-to('large') {
        display: block;
    }
}
.home-footer{
    
}