/* Header Layout */
.home-header{
    width: 100vw;
    height: 5rem;
    position: static;
    background-color: antiquewhite;
    box-shadow: 0px 3px 3px rgb(54, 47, 47);
    -webkit-box-shadow: 0px 3px 3px rgb(54, 47, 47);

    &__logo{
        position: absolute;
        left: 1.3rem;
        top: 2rem;
        font-weight: $r-bold;
        font-size: $large;
    }
}