/* Main-section Layout */
.home-main{
    width: 100vw;
    height: auto;
    position: relative;
    float: left;
    background-color: rgb(255, 255, 255);
    display: block;
    padding: 0 1rem;
    box-sizing: border-box;
    
    @include respond-to('medium') {
        width: 75vw; 
    }
    @include respond-to('huge') {
        width: 80vw; 
    }
}