/* Main-section Layout */
.home-aside{
    width: 25vw;
    height: 100%;
    padding: 0 1rem;
    position: relative;
    float: right;
    display: none;
    box-sizing: border-box;
    background-color:rgb(245, 245, 245) ;
    
    @include respond-to('medium') {
        display: block;
    }
    @include respond-to('huge') {
        width: 20vw; 
    }

    &__section{
        height: auto;
        width: 100%;
        margin: 1.6rem 0 2.3rem 0;
    }
    &__title{
        margin: 1rem 0;
    }
    &__tags{
        display: inline-block;
        background-color:plum;
        padding: .5rem;
        margin: .1rem 0;
        
        &:hover{
            background-color:rgb(214, 123, 214);
        }
    }
    &__highlight-title{
        margin: .6rem 0;
        font-weight: $r-regular;
        font-size: $large;
        line-height: 1.3rem;
    }
    &__highlight-img{
        margin-bottom: 1rem;
    }
}